.socialIcon {

  margin: 0 1rem;

  &__image {
    display: block;
    transition: ease-in .25s;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  &__link {
    border-bottom: none;
    display: block;
  }
}